<!DOCTYPE html>
<html lang="en">
<!--begin::Head-->

<head th:replace="fragments/partial :: page_head('Ingredient', 'none')" />

<style>
body {
	margin: 40px 10px;
	padding: 0;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size: 14px;
}

#calendar {
	max-width: 1100px;
	margin: 0 auto;
}
</style>
<!--end::Head-->
<!--begin::Body-->

<body data-kt-name="metronic" id="kt_app_body"
	data-kt-app-layout="dark-sidebar" data-kt-app-header-fixed="true"
	data-kt-app-sidebar-enabled="true" data-kt-app-sidebar-fixed="true"
	data-kt-app-sidebar-hoverable="true"
	data-kt-app-sidebar-push-header="true"
	data-kt-app-sidebar-push-toolbar="true"
	data-kt-app-sidebar-push-footer="true"
	data-kt-app-toolbar-enabled="true" class="app-default">
	<!--begin::Theme mode setup on page load-->
	<script>
		if (document.documentElement) {
			const defaultThemeMode = "system";
			const name = document.body.getAttribute("data-kt-name");
			let themeMode = localStorage.getItem("kt_"
					+ (name !== null ? name + "_" : "") + "theme_mode_value");
			if (themeMode === null) {
				if (defaultThemeMode === "system") {
					themeMode = window
							.matchMedia("(prefers-color-scheme: dark)").matches ? "dark"
							: "light";
				} else {
					themeMode = defaultThemeMode;
				}
			}
			document.documentElement.setAttribute("data-theme", themeMode);
		}
	</script>
	<script th:src="@{~/assets/dist/index.global.min.js}"></script>




	<!--end::Theme mode setup on page load-->
	<!--begin::App-->
	<div class="d-flex flex-column flex-root app-root" id="kt_app_root">
		<!--begin::Page-->
		<div class="app-page flex-column flex-column-fluid" id="kt_app_page">
			<div th:replace="fragments/header :: header">&nbsp;</div>
			<!--begin::Wrapper-->
			<div class="app-wrapper flex-column flex-row-fluid"
				id="kt_app_wrapper">
				<div th:replace="fragments/sidebar :: sidebar"></div>
				<!--begin::Main-->
				<div class="app-main flex-column flex-row-fluid" id="kt_app_main">
					<!--begin::Content wrapper-->
					<div class="d-flex flex-column flex-column-fluid">
						<!--begin::Toolbar-->
						<div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
							<!--begin::Toolbar container-->
							<div id="kt_app_toolbar_container"
								class="app-container container-xxl d-flex flex-stack">
								<!--begin::Page title-->

								<!--end::Page title-->
							</div>
							<!--end::Toolbar container-->
						</div>
						<!--end::Toolbar-->
						<!--begin::Content-->
						<div id="kt_app_content" class="app-content flex-column-fluid">
							<!--begin::Content container-->
							<div id="kt_app_content_container"
								class="app-container container-xxl">
								<!--begin::Card-->
								<div class="card">
									<!--begin::Card header-->
									<div class="card-header border-0 pt-6">
										<!--begin::Card title-->
										<div class="card-title">
											<!--begin::Search-->
											<div class="d-flex align-items-center position-relative my-1">
												<!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->



											</div>
											<!--end::Search-->
										</div>
										<!--begin::Card title-->
										<!--begin::Card toolbar-->

										<!--end::Card toolbar-->
									</div>
									<!--end::Card header-->
									<!--begin::Card body-->
									<div class="card-body pt-0">
										<!--begin::Table-->
										<!-- Trong phần tử HTML để lưu trữ chuỗi JSON -->
										<div id="works" style="display: none;" th:text="${worksJson}"></div>



										<div id='calendar'></div>

										<!--end::Card-->
										<!--begin::Modals-->
										<!--begin::Modal - User - Add-->

										<!--end::Modal - Customers - Add-->
										<!--begin::Modal - Export Customers-->

									</div>
									<!--end::Content container-->
								</div>
								<!--end::Content-->
							</div>
							<!--end::Content wrapper-->
							<!--begin::Footer-->
							<div th:replace="fragments/footer :: footer">&nbsp;</div>
							<!--end::Footer-->
						</div>
						<!--end:::Main-->
					</div>
					<!--end::Wrapper-->
				</div>
				<!--end::Page-->
			</div>
			<!--end::App-->
			<!--begin::Scrolltop-->
			<div id="kt_scrolltop" class="scrolltop" data-kt-scrolltop="true">
				<!--begin::Svg Icon | path: icons/duotune/arrows/arr066.svg-->
				<span class="svg-icon"> <svg width="24" height="24"
						viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
				<rect opacity="0.5" x="13" y="6" width="13" height="2" rx="1"
							transform="rotate(90 13 6)" fill="currentColor" />
				<path
							d="M12.5657 8.56569L16.75 12.75C17.1642 13.1642 17.8358 13.1642 18.25 12.75C18.6642 12.3358 18.6642 11.6642 18.25 11.25L12.7071 5.70711C12.3166 5.31658 11.6834 5.31658 11.2929 5.70711L5.75 11.25C5.33579 11.6642 5.33579 12.3358 5.75 12.75C6.16421 13.1642 6.83579 13.1642 7.25 12.75L11.4343 8.56569C11.7467 8.25327 12.2533 8.25327 12.5657 8.56569Z"
							fill="currentColor" />
			</svg>
				</span>
				<!--end::Svg Icon-->
			</div>

			<script>
				document
						.addEventListener(
								'DOMContentLoaded',
								function() {
									var calendarEl = document
											.getElementById('calendar');
									var calendar = new FullCalendar.Calendar(
											calendarEl,
											{
												headerToolbar : {
													left : 'prev,next today',
													center : 'title',
													right : 'dayGridMonth,timeGridWeek,timeGridDay,listMonth',
														
												},
												
												events : [],
											});

									calendar.render();

									var worksJsonString = document
											.getElementById("works").textContent;
									var works = JSON.parse(worksJsonString);

									works.forEach(function(work) {
										var startDateTime = new Date(work.workDate + 'T' + work.startTime);
										
										var event = {
											title : '',
											start :startDateTime,
										
											

										};

										if (work.startTime && work.endTime) {
										    event.title += ' (' + work.startTime + ' - ' + work.endTime + ')';
										}
										if (work.startTime1 && work.endTime1) {
											 event.title += '(' + work.startTime1 + ' - ' + work.endTime1 + ')';
										}

										calendar.addEvent(event);
									});
								});
			</script>



			<!--end::Scrolltop-->
			<!--begin::Javascript-->
			<div th:replace="fragments/partial :: global_script"></div>
			<div th:replace="fragments/partial :: users_script"></div>
			<!--end::Javascript-->
</body>
<!--end::Body-->

</html>