<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">

<head
	th:replace="fragments/partial :: page_head('Change Password', 'none')" />

<body class="stretched">

	<div id="wrapper">

		<div th:replace="fragments/header :: header">&nbsp;</div>

		<section class="hero-wrap hero-wrap-2"
			style="background-image: url('/assets/images/bg_3.jpg');"
			data-stellar-background-ratio="0.5">
			<div class="overlay"></div>
			<div class="container">
				<div
					class="row no-gutters slider-text align-items-end justify-content-center">
					<div class="col-md-9 ftco-animate text-center mb-4">
						<h1 class="mb-2 bread">Change Password</h1>
						<p class="breadcrumbs">
							<span class="mr-2"><a th:href="@{/}">Home <i
									class="ion-ios-arrow-forward"></i></a></span>
						</p>
					</div>
				</div>
			</div>
		</section>

		<section class="container mt-5">
			<div class="row justify-content-center">
				<div class="col-md-8">
					<div class="card">
						<div
							class="card-header d-flex justify-content-between align-items-center">
							<h5 class="mb-0">Change Password</h5>
							<!-- Error message for incorrect current password -->
							<div th:if="${error}" class="alert alert-danger mb-0"
								role="alert">
								<span th:text="${error}"></span>
							</div>
						</div>

						<div class="card-body">
							<form method="post" th:action="@{/change_password}">
								<!-- Form fields for current and new passwords -->

								<div class="form-group row">
									<label for="currentPassword"
										class="col-md-4 col-form-label text-md-right">Current
										Password:</label>
									<div class="col-md-6">
										<input type="password" id="currentPassword"
											name="currentPassword" class="form-control" required>
									</div>
								</div>

								<div class="form-group row">
									<label for="newPassword"
										class="col-md-4 col-form-label text-md-right">New
										Password:</label>
									<div class="col-md-6">
										<input type="password" id="newPassword" name="newPassword"
											class="form-control" required>
									</div>
								</div>

								<div class="form-group row mb-0">
									<div class="col-md-6 offset-md-4">
										<button type="submit" class="btn btn-primary">Save</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
		<div th:replace="fragments/footer :: footer">&nbsp;</div>

	</div>

	<div id="gotoTop" class="bi-arrow-up"></div>

	<div th:replace="fragments/partial :: page_script"></div>

</body>

</html>
